<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <h1><%= title %></h1>
    <div><a href="/new-message">Create a new message</a></div>
    <ul>
        <% if(messages) { %>
            <% messages.forEach(message => { %>
                <% if (locals.currentUser.membership) { %>
                <li>
                    <%= message.firstname %>
                    <%= message.created_at %>
                    <% } %>
                    <br>
                    <div class="message">
                        <%= message.title %> -
                        <%= message.message %>
                        <% if (message.admin) { %>
                        <button><a href="/delete/<%= message.message_id %>">Delete Message</a></button>
                        <% } %>
                    </div>
                </li>
            <% }) %>
        <% } %>
    </ul>
    <div><a href="/logout">logout</a></div>
</body>
</html>